<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epic.debug.launchConfigurationPerl">
<stringAttribute key="ATTR_PROJECT_NAME" value="Perl 5 Essential Training"/>
<stringAttribute key="ATTR_STARTUP_FILE" value="Exercise Files/14 Modules/eh_bibleInspiration_controller.pl"/>
</launchConfiguration>
